@font-face {
    font-family: 'D2Coding';
    src: url('/public/assets/fonts/D2Coding.woff') format('woff'),
         url('/public/assets/fonts/D2Coding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}