@font-face {
    font-family: 'D2Coding';
    src: url('/public/assets/fonts/D2Coding.woff') format('woff'),
         url('/public/assets/fonts/D2Coding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.progress-bar {
    background: linear-gradient(to right, white var(--scroll), transparent 0);
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    height: 1.5px;
    z-index: 9000;
}

/* Category page */
.tags-expo-list {
    display: flex;
    flex-wrap: wrap;
}
.post-tag {
    display: inline-block;
    padding: 3px 4.5px;
    margin: 4px;
    font-size: 16px;
    background-color: #333333;
    border-radius: 4px;
    text-decoration: none !important;
}
.post-tag:hover {
    filter: invert(100%);
    transition: 0.5s ease;
}
.post-tag-count {
    font-size: 14px; /* 글씨 크기를 작게 설정합니다. */
}
