@font-face {
    font-family: 'D2Coding';
    src: url('/public/assets/fonts/D2Coding.woff') format('woff'),
         url('/public/assets/fonts/D2Coding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.progress-bar {
    background: linear-gradient(to right, white var(--scroll), transparent 0);
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    border-radius: 1px;
    top: 0px;
    left: 0;
    height: 2px;
    z-index: 9000;
}

/* Category page */
.tags-expo-list {
    display: flex;
    flex-wrap: wrap;
}
.post-tag {
    display: inline-block;
    padding: 3px 4.5px;
    margin: 4px;
    font-size: 16px;
    background-color: #333333;
    border-radius: 4px;
    text-decoration: none !important;
    transition: 0.5s ease-in-out;
}
.post-tag:hover {
    filter: invert(100%);
}
.post-tag-count {
    font-size: 14px;
}

/* post container */
.card {
    margin-bottom: 18px;
    padding: 5px 25px;
    background-color: #272727;
    border-radius: 12px;
    border: 1.5px solid #363636;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}
.card-link {
    display: flex;
    text-decoration: none !important;
}
.card:hover {
    background-color: #353535;
}
.card-body {
    font-size: 0.75rem;
}
.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.card-date {
    display: block;
    color: #868686;
    font-size: 14px;
    margin-bottom: 10px;
}
.card-content {
    margin-bottom: 15px;
    color: #afb0b1;
}